body {
  line-height: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  margin: 0em;
  padding: 0em;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* on wide screen, have a wide margin */
@media screen and (min-width: 1000px) {
  section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* on narrow screen, have small/no margin */
@media screen and (min-width: 500px) {
  section {
      padding: 1em;
    }

  img {
    width: auto;
  }
}

footer {
  color: rgb(100, 100, 100);
  background-color: rgb(50, 50, 50);
  text-align: center;
  font-size: small;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* link colour */
a {
  color: rgb(100, 175, 255);
}

/* centre some images*/
img.centre{display: block;
  margin-left: auto;
  margin-right: auto;
}


/* menu */
nav ul.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background: #222;
}

ul.nav-bar li a {
  display: block;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  transition: background 0.5s;
}

ul.nav-bar li a:hover {
  background: #cc0404;
}


/* Accordion, drop-down section */
.accordion_cover {
  background-color: #222;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding-left: 50 px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  outline: none;
}

/* Style the accordion panel.  */
.accordion_panel {
  padding: 0 18px;
  background-color: rgb(50, 50, 50);
  display: none;
  overflow: hidden;
}


/* Spoilers */
.spoiler{
  display: inline;
  color: black;
  background-color: black;
}

.spoiler:hover {
  color: white;
}




