body {
  line-height: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  margin: 0em;
  padding: 0em;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* centre some algorithms */
.thin_centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* on wide screen, have a wide margin */
@media screen and (min-width: 1000px) {
  section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

    .thin_centre{width: 50%}
}

/* on narrow screen, have small/no margin */
@media screen and (min-width: 500px) {
  section {
      padding: 1em;
    }

  img {
    width: auto;
  }
}

footer {
  color: rgb(100, 100, 100);
  background-color: rgb(50, 50, 50);
  text-align: center;
  font-size: small;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* link colour, standard is too dark*/
a {
  color: rgb(100, 175, 255);
}

/* centre some images*/
img.centre{display: block;
  margin-left: auto;
  margin-right: auto;
}



/* menu */
nav ul.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background: #000000;
}

ul.nav-bar li a {
  display: block;
  color: #ffffff;
  padding: 1em 2em;
  text-decoration: none;
  transition: all 0.5s ease;
}

ul.nav-bar li a:hover {
  background: #cc0404;
  color: #000000;
}


/* Accordion, drop-down section */
.accordion_cover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  transition: all 0.5s ease;
}

/* Hover effect.  */
.accordion_cover:hover {
  background-color: #cc0404;
  border-color: #cc0404;
  color: #000000
}

/* Style the accordion panel.  */
.accordion_panel {
  padding: 0 18px;
  background-color: rgb(50, 50, 50);
  display: none;
  overflow: hidden;
  border: 5px solid #000000;
  outline: 1px solid white;
  border-radius: 8px;
}


/* Spoilers */
.spoiler{
  display: inline;
  color: #000000;
  background-color: #000000;
}

.spoiler:hover {
  color: white;
}


/* Python terminal */
.python_terminal{
  color: rgb(255, 255, 255);
  background-color: #000000; 
  border: 1px solid rgb(255, 255, 255);
  font-family: "Consolas", "Courier New", monospace;
  padding: 6px;
}


pre[class*="language-"] {
  background: #000000;
}

